#Offers{
    min-height: 40vh;
}
.h2{
    font-size:  3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.offers__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.offers__item img{
    height: 30rem;
    padding-bottom: 1rem;
}
.offers__item--box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    padding: 2.5rem;
    box-sizing: border-box;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.offers__item--box:hover{
    transform: translatex(1rem);
}
.offers__item--box h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.CMS__box{
    border-left:1rem solid #fff200;
}
.Payment__box{
    border-left:1rem solid #ff3838;
}
.Appstore__box{
    border-left:1rem solid #05c46b;
}

