#WebDevelopment{
    min-height: 30vh;
}
.WebDevelopment__Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: inherit;
    background-color:#ffcccc40;
}
.WebDevelopment__right--item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
}
.WebDevelopment__right--item img{
    width:50rem;
}
.WebDevelopment__left--item{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    background-color: var(--light-color);
    padding: 2rem;
}
.WebDevelopment__left--topitem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
}
.WebDevelopmenpt__left--item h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 1rem;
}
.WebDevelopment__left--item p{
    font-size: 1.5rem;
    opacity: 0.8;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}
.WebDevelopment__left--bottomitem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}
.WebDevelopment__left--bottomitem__rightbox{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 1.5rem;
    transition: all .3s ease-in-out;
}
.WebDevelopment__left--bottomitem__rightbox i {
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: var(--light-color);
}

.WebDevelopment__left--bottomitem__rightbox h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-color);
    margin-bottom: 2rem;
}
.WebDevelopment__left--bottomitem__rightbox p {
    font-size: 1rem;
    opacity: 0.8;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}
i.box--UI{
    background-color: #2ecc71;
}
i.box--IOS{
    background-color: #48dbfb;
}
.WebDevelopment__left--bottomitem__leftbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 1.5rem;
    transition: all .3s ease-in-out;
}
.WebDevelopment__left--bottomitem__leftbox i {
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: var(--light-color);
}

.WebDevelopment__left--bottomitem__leftbox h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-color);
    margin-bottom: 2rem;
}
.WebDevelopment__left--bottomitem__leftbox p {
    font-size: 1rem;
    opacity: 0.8;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}

